/* Mixins MQ */
@mixin tablet(){
    @media screen and (min-width: 481px) and (max-width: 768px)  {
        @content;
    }
}

@mixin desktop(){
    @media screen and (min-width: 769px) {
        @content;
    }
}

/* Mixin flexbox */
@mixin flex($display, $direction, $corte, $justify, $align){
    display: $display;
    flex-flow: $direction $corte;
    justify-content: $justify;
    align-items: $align;
}

/* Mixins grid */
@mixin grid($columnas, $espacio){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}

/*------------------------------------------------------------------------------------*/

/* Variables */

$tipo-principal: 'Inter', sans-serif;
$tipo-secundaria: 'Prata', serif;

$color-1: #0A0D40;
$color-2: #070826;
$color-3: #2669BF;
$color-4: #088C74;
$color-5: #D97823;