/* Imports variables */
/* Mixins MQ */
/* Mixins flexbox */
/* Mixins grid */
/*------------------------------------------------------------------------------------*/
/* Variables */
/* Reset propiedades customizadas por usuario*/
:root {
  --color-primario: #181818;
  --color-secundario: #f0f0f0;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Reset margins y paddings*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Reset imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reset enlaces */
a {
  display: block;
}

p a {
  display: inline;
}

/* Reset estilos listas */
li {
  list-style-type: none;
}

/* Reset anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Reset etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Reset pseudoelementos quote */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Reset color de seleccion */
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Reset tipografias y etiquetas formulario */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Reset tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Reset tipografia web completa */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: none;
}

.header--desktop {
  background-color: antiquewhite;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__li {
  margin: 0 .5em;
}

.main {
  background-color: gray;
  margin: 1em 0;
}

.inicio, .about {
  min-height: 80vh;
  background-color: lightgreen;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works {
  min-height: 80vh;
  background-color: lightgreen;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__container {
  max-width: 90%;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work {
  background-color: aqua;
  margin-top: 1em;
  padding: 0 1em;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__a {
  background-color: orange;
}

.work__img {
  background-color: red;
}

.contact {
  min-height: 50vh;
  display: none;
}

.footer {
  background-color: gray;
}
/*# sourceMappingURL=style.css.map */